@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

.icon-code {
    font-size: 50px;
}

body {
    font-family: 'Special Elite' sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.hero {
    padding: 5%;
    background-image: linear-gradient( #ff00cc, #333399);
}

.hero p {
    font-size: 40px;
    text-align: center;
}

.button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 50px;
    font-size: 30px;
}

.button-arrow {
    background-color: transparent;
    color: #ff00cc;
}

a:hover, a:active {
    font-size: 150%;
}

.about-me p {
    font-size: 16px;
    /* float: right; */
    text-align: justify;
    /* margin-right: 30px;
    margin-top: 5px;
    max-width: 75%; */
}

.trybe-color {
    color: green;
}

img {
    width: 150px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    /* margin-left: 100px; 
    float: left; */
}

.icon a {
    font-size: 40px;
    padding: 15px;
    color: black;
}

.icon {
    padding-top: 20px;
}

.about-trybe {
    clear: both;
    margin: 30px;
}

.about-trybe p {
    text-align: justify;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.technical-skill {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.icon-skills {
    width: 20%;
    padding-bottom: 5px;
}

.final-paragraph {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-about-me {
    display: flex;
}

.padding-15 {
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
