@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.header {
    background-image: url(imagens/capa.amarelo.png);
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 30px 80px 30px;
    margin-bottom: 20px;
}

.header li {
    margin-left: 200px;
    font-size: 16px;
    
}

a:link {
    text-decoration: none;
}

.title {
    font-family: 'Poppins';
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    max-width: 50%;
    margin-left: 10%;
    padding: 50px;
}

#sobre {
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline overline;
    text-decoration-color: #2a9d8f;
    margin-bottom: 15px;
}

img {
    width: 200px;
    border-radius: 50%;
}

.imagem {
    float: left;
    margin-left: 190px;
}

.paragrafo {
    float: right;
    max-width: 800px;
    text-align: justify;
    padding: 20px 30px;
}

.habilidades {
    clear: both;
}